Xamarin/Parte 1 - crie aplicativos mobile com Visual Studio/TestDrive/TestDrive/TestDrive.Android/obj/Debug/90/android/bin/classes/mono/android/support/v4/view/accessibility/AccessibilityManagerCompat_AccessibilityStateChangeListenerImplementor.class
Xamarin/Parte 1 - crie aplicativos mobile com Visual Studio/TestDrive/TestDrive/TestDrive.Android/obj/Debug/90/android/bin/classes/mono/android/support/v4/view/accessibility/AccessibilityManagerCompat_TouchExplorationStateChangeListenerImplementor.class
Xamarin/Parte 1 - crie aplicativos mobile com Visual Studio/TestDrive/TestDrive/TestDrive.Android/obj/Debug/90/android/src/mono/android/support/v4/view/accessibility/AccessibilityManagerCompat_TouchExplorationStateChangeListenerImplementor.java
